body{
  cursor:url("./heart-icon2.png"), pointer;
  background-color:black;
}

table,tr,td{
  border: 1px solid white;
  border-collapse: collapse;
}

.first-words {
  height: 1000px;
  font-size: 48px;
  background-color: pink;
  color: #f0f0f0;
}

.first-words h1{
  text-align: center;
  padding-top: 500px;
  font-family: 'Inter', 'Noto Sans JP', sans-serif;
}

.floating-hearts {
  width: 200px;
  height: 200px;
  background: url("./heart-icon.png");
  background-repeat: no-repeat;
  position: relative;
  animation: mymove 6s infinite;
}

@keyframes mymove {
  from {bottom: -100px;}
  to {bottom: 4500px;}
}

.pictures {
  background-color: purple;
  width: 100px;
  height: 100px;
}

/* img {
  max-width: 100px;
  max-height: 100px;
} */

.pictures #other-dude {
  width: 50px;
  height: 50px;
  background-color: blue;
}

.pictures #this-guy {
  width: 50px;
  height: 50px;
  background-color: red;
}

.pictures:hover {
  background-color: green;
  width: 200px;
  height: 200px;
}

.box-div, .box {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:1000px;
  background:transparent center no-repeat;
  background-size:cover;
}

.box-div {
  background:#f0f0f0;
  overflow:hidden;
}

.first-box {
  position:absolute;
  left:0;
  height:100%;
}

.second-box {
  position:absolute;
  left:0;
  height:100%;
  background:#09f;
}

.bounce1 {
  position: relative;
  animation: imageBounce 1.7s infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.bounce2 {
  position: relative;
  animation: imageBounce 2s infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-delay: 0.5s;
}

.bounce3 {
  position: relative;
  animation: imageBounce 1.7s infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
}

.bounce4 {
  position: relative;
  animation: imageBounce 2s infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-delay: 1.3s;
}

@keyframes imageBounce {
  from {bottom:-10px;}
  to {bottom:10px;}
}
